:root{
  --ifm-color-primary-lightest: #7EA8D9;
  --ifm-color-primary-lighter: #6093D0;
  --ifm-color-primary-light: #558CCD;
  --ifm-color-primary: #417ec7;
  --ifm-color-primary-dark: #3671B8;
  --ifm-color-primary-darker: #336BAD;
  --ifm-color-primary-darkest: #2A588F;
}
