:root{
	--ifm-color-primary: #417ec7;
	--ifm-color-primary-dark: #3671b8;
	--ifm-color-primary-darker: #336bad;
	--ifm-color-primary-darkest: #2a588f;
	--ifm-color-primary-light: #558ccd;
	--ifm-color-primary-lighter: #6093d0;
	--ifm-color-primary-lightest: #7ea8d9;
}
